body { margin: 0; font-family: Arial; background: #f2f2f2; }
header { background: #000; color: #fff; padding: 15px; text-align: center; }
nav a { color: #fff; margin: 0 10px; text-decoration: none; font-weight: bold; }
.hero { text-align: center; padding: 40px; background: white; }
.hero button { padding: 10px 20px; font-size: 16px; cursor: pointer; }
.oferta { text-align: center; padding: 30px; }
footer { background: #111; color: #ddd; text-align: center; padding: 10px; margin-top: 30px; }0
